@import 'resets';

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #fff;
    align-items: center;
    // padding-right: 5em;

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            position: relative;
          
            img {
                width: 150px;
            }

            h6 {
                position: absolute;
                left: 99px;
                font-size: 0.9rem;
            }
        } 
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 15em;
        margin-right: 15em;

        li {
            margin-right: 2.5em;

            a {
                text-decoration: none;
            }

            .active {
                font-weight: bold;
                color: #7246E4;
            }
        }
    }


    .accButton {
        a {
            text-decoration: none;
            font-size: 0.8rem;
            padding: 0.75rem 2rem;

        }
        .decoratedBtn{
        
            border-radius: 25px;
            font-size: 0.8rem;
            color: #fff;
            background: linear-gradient(to bottom, hsla(237, 81%, 62%, 1) 0%, hsla(305, 87%, 47%, 1) 100%);
            
        }
    }
}

.mainIndex {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5em;
    
    .firstRow {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        align-items: center;
        height: 80vh;

        section > img {
            width: 290px;
        }
        
        .firstColumn {
            width: 40%;
            margin-right: 15%;

        
            
            .buttonViewHistory {
                width: 10em;
                padding: 1em 0;
                margin-top: 2em;
                border-radius: 25px;
                color: #fff;
                cursor: pointer;
                text-align: center;
                background: linear-gradient(to bottom, hsla(237, 81%, 62%, 1) 0%, hsla(305, 87%, 47%, 1) 100%);
                font-size: 0.85rem;
            }
        }
    }

    .secondRow {
        margin-top: 100px;
        width: 100%;
        background: #EEEEEE;
        display: flex;
        height: 800px;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        &-textContent {
            width: 40%;

            &-tittle {
                color: rgb(63, 70, 207);
                font-size: 1.5rem;
                margin-bottom: 0.8em;
            }
        }
        &-itemContent {
            width: 30%;
            display: grid;
            height: 300px;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;

            &-circle {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background: yellow;

                p {
                    text-align: center;
                    line-height: 5.55rem;
                    font-size: 1.3rem;
                    color: rgb(63, 70, 207);
                }
            }

        }
    }

    .thirdRow {
        background: #CFD1E6;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4em;
        padding-bottom: 4em;

        h2 {
            margin-left: 300px;
            color: #7246E4;
        }

        .card-container{
            display: flex;
            flex-direction: row;
            margin: 10px auto;
            width: 1000px;
            overflow: auto;
            padding: 1em 3em;
            white-space: nowrap;
            
            .card {
                width: 20vw;
                margin-left: 2em;
                height: 300px;
                border-radius: 25px;
                display: flex;
                align-items: center;
                justify-content: baseline;
                flex-direction: column;
                background: #fff;
    
                .tayaHeader {
                    width: 100%;
                    background: yellow;
                    border-radius: 25px 25px 0 0;
                    height: 35%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #7246E4;
                }

                .tayaContent {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 0 1em;
                    height: 60%;

                    p {
                        margin-bottom: 1em;
                        font-size: 0.9rem;
                        color: #7246E4;
                    }
                }
    
            }
        }

    
    }


    .fourthRow {
        width: 100%;
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;

        &-grandLotto {
            width: 70%;
            padding: 1em 5em;

            h3 {
                color: #7246E4;
                font-size: 1.2rem;
            }

            &-box {
                margin-left: 5em;
                background: #F5CBF6;
                margin-bottom: 1em;
                // padding: 1em 2em;
                margin-top: 1em;
                border-radius: 25px;

                
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;


                &-taya {
                    height: 100px;
                    width: 20%;
                    border-radius: 25px 0 0 25px;
                    background: yellow;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-context {
                    padding: 0 1rem;

                    h4 {
                        color: #7246E4;
                    }

                    p {
                        color: #7246E4;
                    }
                }
            }
        }
    }

    .secondRowAbout {
        width: 100vw;
        background: #09065C;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 750px;

        &-card {
            width: 20%;
            display: flex;
            flex-direction: column;
            border: 1px solid #7246E4;
            align-items: center;
            justify-content: center;
            height: 390px;
            padding: 1em 2em;
            color: #7246E4;
            text-align: justify;
            margin-right: 1em;

            .marginBottom {
                margin-bottom: 1.5em;
            }

            
        }
    }


    #reverse {
        flex-direction: row-reverse;
    }
    
    .firstRowBet {
        width: 100%;
        padding-top: 3em;
        height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

        &-textContent {
            width: 30%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            height: 50vh;
            padding-left: 3em;

            h1{
                font-size: 3rem;
                color: #C31DD2;

            }
            h2{
                font-size: 2rem;
                color: #C31DD2;
            } 
            h3{
                font-size: 2rem;
                color: #C31DD2;
            }


            * {
                margin-bottom: 0.5em;
            }
        }

        &-box {
            width: 30%;
            height: 40vh;
            border: 1px solid #7246E4;

        &-buttons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 1.6em;
            margin-top: 1em;
            
            .confirmbutton{
                border-radius: 25px;
                font-size: 0.8rem;
                color: #fff;
                width: 90px;
                border: 0;
                outline: none;
                background: linear-gradient(to bottom, hsla(237, 81%, 62%, 1) 0%, hsla(305, 87%, 47%, 1) 100%);
              
            }
            .resetbutton{
                background-color: transparent;
                color: #7246E4;
                border: 0;
                font-size: 0.8rem;
                margin-left: 1em;
            }
            button{
                background-color: #7246E4;
                font-size: 1rem;
                border-radius: 15px;
                color: #fff;
                padding: .8em .5em;
            }


        }

            &-numbers {
                display: grid;
                grid-template-columns: repeat(9,1fr);
                align-content: center;
                justify-items: center;

                p {
                    width: 30px;
                    border-radius: 50%;
                    text-align: center;
                    margin-top: 0.75em;
                    color: #CFD1E6;
                    line-height: 30px;
                    background: #7246E4;
                    cursor: pointer;
                    transition: all 0.5s ease;
                }


                p:hover {
                    background: #C31DD2;
                }
            }

            &-header {
                width: 100%;
                padding: 1em 0;
                background: #D8D8D8;
                display: flex;
                align-items: center;
                justify-content: center;

                * {
                    color: #7246E4;
                }
            }
        }
    }

}



footer {
    width: 100vw;
    height: 350px;
    background: #000;
}